# Carpeta donde se guardarán los archivos y el Excel. Puede ser una carpeta sincronizada con Google Drive.
# Por ejemplo: /Users/tuusuario/Google\ Drive/Corpany
DRIVE_PATH=

# Puerto del servidor
PORT=3000
